
@{
    ViewBag.Title = "Conseils";
}

<h2>Conseils</h2>
<h2>Bien débuter</h2>
<p>La dactylographie nécéssite de la méthode et de la patience. Ces quelques conseils vous aideront certainement à mieux tirer profit des leçons proposées par Go Keyboard.</p>
