<div>
    <p class="lead">Go Keyboard est un site gratuit d'apprentissage de la dactylographie. Cette discipline est difficile au début mais les avantages à long terme sont nombreux. Tenterez-vous votre chance ?</p>
    <p><a href="@Url.Action("Lesson", new {id=5})" class="btn btn-primary btn-large">Faire un essai</a></p>
</div>
<div>
    <div>
        <h2>Bien débuter</h2>
        <p>La dactylographie n'est pas simple à appréhender, surtout au début. Ces quelques conseils vous aideront certainement à progresser.</p>
        <p><a class="btn btn-default" href="@Url.Action("Conseils", new {id=5})">Conseils</a></p>
		@*<p>@ViewBag.PingTimeAverage<br/>*@
		@*@ViewBag.Info</p>*@
    </div>
    <div>
        <h2>Les leçons</h2>
        <p>Bla !</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more</a></p>
    </div>
    <div>
        <h2>Titre 3</h2>
        <p>Bla bla !</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more</a></p>
    </div>
</div>
