<div>
    <h2>Bienvenue !</h2>
    <p>Vous avez toujours voulu apprendre à taper avec vos 10 doigts ?</p>
    <p>Vous ne voulez plus perdre du temps à regarder sans arrêt votre clavier ? </p>
    <p>Grace à Go Keyboard, l'apprentissage de la dactylographie devient agréable.</p>
    <p><a href="@Url.Action("Lesson", new {id=5})" class="btn btn-primary btn-large">Je voudrais faire un essai</a></p>
</div>
@section scripts
{

    <script>
        $(function ()
        {
            $(".level").knob({});
        });
    </script>
}
