<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
		<section name="LogConfiguration" type="Tools.CustomConfigSections.LogConfiguration,Tools" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<LogConfiguration LogLevel="Info" LogMethods="Log4Net" />
	<connectionStrings>
		<!--<add name="DataContext" connectionString="Data Source=Simon-PC\SQLExpress;Initial Catalog=GoKeyboard;Trusted_Connection=True;" providerName ="System.Data.SqlClient" />-->
		<!--<add name="DataContext" connectionString="DataSource=.\SQLEXPRESS;IntegratedSecurity=True" providerName ="System.Data.SqlClient" />-->
		<!--<add name="DataContext" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\v11.0;Database=Requests.mdf;Trusted_Connection=True"/>-->
	</connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<log4net>
		<root>
			<level value="INFO" />
			<appender-ref ref="RollingFileAppender" />
		</root>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="Logs\Info.log" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="-1" />
			<maximumFileSize value="1MB" />
			<staticLogFileName value="true" />
			<datePattern value="yyyyMMdd" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline" />
			</layout>
		</appender>
	</log4net>
</configuration>