body {
  padding-top: 50px;
  padding-bottom: 20px;
  background: url(images/hoffman.png) !important;
}
body .body-content {
  padding-left: 15px;
  padding-right: 15px;
}
body input,
body select,
body textarea {
  max-width: 280px;
}
.field-validation-error {
  color: #b94a48;
}
.field-validation-valid {
  display: none;
}
input.input-validation-error {
  border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
  border: 0 none;
}
.validation-summary-errors {
  color: #b94a48;
}
.validation-summary-valid {
  display: none;
}
/*BUTTONS*/
.button {
  background-color: #3bb3e0;
  font-family: 'Open Sans', sans-serif;
  font-size: 33px;
  text-decoration: none;
  color: #fff;
  position: relative;
  padding: 0px 5px;
  border-left: solid 1px #2ab7ec;
  margin-left: 35px;
  background-image: linear-gradient(to bottom, #2ca0ca 0%, #3eb8e5 100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785,0px 7px 2px #102A33;
  width: 94px;
  display: block;
  height: 74px;
  line-height: 74px;
}
.button:active {
  top: 3px;
  background-image: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785,0px 4px 2px #102A33;
}
.button:hover {
  text-decoration: none;
}
.button::before {
  content: attr(data-num);
  width: 35px;
  height: 100%;
  position: absolute;
  display: block;
  padding-top: 0px;
  top: 0px;
  left: -36px;
  font-size: 16px;
  font-weight: bold;
  color: #8fd1ea;
  text-shadow: 1px 1px 0px #07526e;
  border-right: solid 1px #07526e;
  background-image: linear-gradient(to bottom, #0a5e7d 0%, #0e8bb8 100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a,0px 7px 2px #102A33;
  line-height: 74px;
}
.button:active::before {
  top: -3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b,0px 7px 2px #102A33;
}
footer {
  font-size: 0.4em;
}
#lesson {
  margin: 0px auto;
  width: 100%;
  font-size: 32px;
  background-color: #EEE;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 30px;
}
#lesson #timer {
  font-size: 0.5em;
  display: none;
}
#lesson h1 {
  font-size: 45px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#lesson h2 {
  font-size: 1em;
}
#lesson p {
  font-size: 0.6em;
}
#lesson #chartplaceholder {
  width: 400px;
  height: 300px;
}
#lesson .page {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #999;
  margin: 0px 0px 20px 0px;
  padding: 0px 10px 0px;
  background: #EEE;
}
#lesson .page span {
  font-family: "Lucida Console";
  line-height: 65px;
  margin: -6px;
  padding: 5px;
  transition: background 0.15s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#lesson .page span.activeItem {
  background: #6f80b7;
  transition: background 0.15s;
}
#lesson .page span.error {
  background: #F00!important;
  transition: background 0.15s;
}
#lesson .endpage {
  display: none;
}
#chartdebugPlaceHolder {
  position: absolute;
  top: 300px;
  right: 30px;
  width: 300px;
  height: 200px;
}
ul#lessonsList {
  list-style: none;
  width: 840px;
}
ul#lessonsList li {
  float: left;
  margin: 0 10px 10px 0;
  text-align: center;
  position: relative;
  height: 88px;
}
#keyboardhelper {
  font-size: 0.6em;
  position: relative;
  height: 216px;
  background: #CCC;
  width: 490px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: -1px -1px 1px 2px #666666 inset;
  -moz-box-shadow: -1px -1px 1px 2px #666666 inset;
  box-shadow: -1px -1px 1px 2px #666666 inset;
}
#keyboardhelper div {
  position: absolute;
  width: 38px;
  height: 38px;
  line-height: 38px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: -1px -1px 1px 2px #777777 inset;
  -moz-box-shadow: -1px -1px 1px 2px #777777 inset;
  box-shadow: -1px -1px 1px 2px #777777 inset;
  background-color: #CCC;
  text-align: center;
}
#keyboardhelper div.row1 {
  top: 10px;
}
#keyboardhelper div.row2 {
  top: 50px;
}
#keyboardhelper div.row3 {
  top: 90px;
}
#keyboardhelper div.row4 {
  top: 130px;
}
#keyboardhelper div.key_spacebar {
  top: 170px;
  left: 115px;
  width: 320px;
}
#keyboardhelper div.key_eacute {
  left: 40px;
}
#keyboardhelper div.key_quot {
  left: 80px;
}
#keyboardhelper div.key_apos {
  left: 120px;
}
#keyboardhelper div.key_lpar {
  left: 160px;
}
#keyboardhelper div.key_minus {
  left: 200px;
}
#keyboardhelper div.key_eagrave {
  left: 240px;
}
#keyboardhelper div.key_underscore {
  left: 280px;
}
#keyboardhelper div.key_ccedil {
  left: 320px;
}
#keyboardhelper div.key_agrave {
  left: 360px;
}
#keyboardhelper div.key_rpar {
  left: 400px;
}
#keyboardhelper div.key_equals {
  left: 440px;
}
#keyboardhelper div.key_a {
  left: 10px;
}
#keyboardhelper div.key_z {
  left: 50px;
}
#keyboardhelper div.key_e {
  left: 90px;
}
#keyboardhelper div.key_r {
  left: 130px;
}
#keyboardhelper div.key_t {
  left: 170px;
}
#keyboardhelper div.key_y {
  left: 210px;
}
#keyboardhelper div.key_u {
  left: 250px;
}
#keyboardhelper div.key_i {
  left: 290px;
}
#keyboardhelper div.key_o {
  left: 330px;
}
#keyboardhelper div.key_p {
  left: 370px;
}
#keyboardhelper div.key_q {
  left: 30px;
}
#keyboardhelper div.key_s {
  left: 70px;
}
#keyboardhelper div.key_d {
  left: 110px;
}
#keyboardhelper div.key_f {
  left: 150px;
}
#keyboardhelper div.key_g {
  left: 190px;
}
#keyboardhelper div.key_h {
  left: 230px;
}
#keyboardhelper div.key_j {
  left: 270px;
}
#keyboardhelper div.key_k {
  left: 310px;
}
#keyboardhelper div.key_l {
  left: 350px;
}
#keyboardhelper div.key_m {
  left: 390px;
}
#keyboardhelper div.key_w {
  left: 50px;
}
#keyboardhelper div.key_x {
  left: 90px;
}
#keyboardhelper div.key_c {
  left: 130px;
}
#keyboardhelper div.key_v {
  left: 170px;
}
#keyboardhelper div.key_b {
  left: 210px;
}
#keyboardhelper div.key_n {
  left: 250px;
}
#keyboardhelper div.current {
  background-color: #6f80b7;
}
#keyboardhelper div.disabled {
  color: #AAA;
}
#mask {
  background-color: #000;
  filter: alpha(opacity=70);
  opacity: 0.7;
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 100;
}
#popin {
  display: none;
  position: fixed;
  z-index: 100000;
  top: 100px;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  /* Width / 2 */
  background-color: #fff;
  font-size: 1.2em;
  overflow: hidden;
  padding-bottom: 10px;
  border: 1px solid #555;
  -webkit-box-shadow: 1px 1px 8px 1px #767676 inset;
  -moz-box-shadow: 1px 1px 8px 1px #767676 inset;
  box-shadow: 1px 1px 8px 1px #767676 inset;
  font-size: 14px;
}
#popin p {
  margin: 25px;
  text-align: justify;
  font-size: 1em;
}
#popin h2 {
  margin: 25px;
  font-size: 1.5em;
}
#popin a.crossPopin {
  float: right;
  margin: 5px 5px;
}
#popin a.okbutton {
  float: right;
  margin-right: 10px;
}
