<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="DataContext" connectionString="Data Source=Simon-PC\SQLExpress;Initial Catalog=GoKeyboard;Trusted_Connection=True;" providerName ="System.Data.SqlClient" />-->
		<!--<add name="DataContext" connectionString="DataSource=.\SQLEXPRESS;IntegratedSecurity=True" providerName ="System.Data.SqlClient" />-->
	</connectionStrings>
</configuration>