<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings xdt:Transform="Replace">
    <add name="GoKeyboardDbContext" connectionString="server=srv-sql004\SQLMUTU; user id=journeymoon; password=ttKq5k47rcHy; database=journeymoon; pooling=false" providerName="System.Data.SqlClient"/>
</connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
