@using GoKeyboardRest.Api.Models
@model KeyboardHelperViewModel
<div id="keyboardhelper">
    @foreach (KeyboardHelperKeyViewModel keyModel in Model.KeyModels)
    {
        @Html.Partial("~/Views/Partials/KeyboardKey.cshtml", keyModel)
    }

</div>
