<div id="popin">
    <a href="#" class="crossPopin closePopin btn btn-primary" style="showPopin">X</a>
    <h2>Préparez-vous !</h2>
    <p>Votre leçon va commencer.</p>
    <p>Placez-vous correctement face à votre clavier (sans le regarder !), vos index respectivement sur la touche F et la touche J.</p>
    <p>Quand vous êtes prêts, fermez cette fenêtre et commencez à taper le texte affiché.</p>
    <a href="/Home/Lesson/5" class="btn btn-primary btn-large closePopin okbutton">Cool merci !</a>
</div>
