<div id="progressBlock">
    <h1>Vos progrès</h1>

    <input class="level" data-width="100%" data-height="100%" data-thickness="0.05" value="100" data-fgcolor="#6f80b7" data-bgcolor="#FFFFFF" data-readonly=true data-max="180">

    <p>Vitesse moyenne: 78mpm</p>



    @*<input class="infinite" data-width="100%" data-height="100%" data-thickness="0.05" data-fgcolor="#6f80b7" data-bgcolor="#FFFFFF" data-readonly=true data-max="180">
    <input class="bonus" data-width="50%" data-height="50%" data-thickness="0.25" data-fgcolor="#ffc600" data-bgcolor="#FFFFFF" data-readonly=true data-max="@Model.CharsAmount" data-displayinput="true">
    <span id="timer"></span>*@
</div>
